.app {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    background-color: #eee;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 0.5px solid black;
}

.sidebar,
.app-body {
    height: 100%;
    overflow: auto;
}

.app-body {
    padding: 14px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar li a.active {
    background-color: #1976d2;
    color: white;
}

.sidebar li a:hover:not(.active) {
    background-color: #777;
    color: white;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #222;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 16px;
}

.flex-column-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-column-header.left {
    text-align: left;
    width: 90%;
}

.flex-column-header.right {
    text-align: right;
    width: 10%;
    color: #1976d2;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex {
    flex: 1 1 auto;
}

.paper {
    padding: 20px;
    height: 100%;
}
